header.Masthead {
    padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(58, 98, 76, 1) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/AdobeStock_711865101.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.Masthead h1, header.Masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.Masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.Masthead p {
    font-size: 1.15rem;
  }
  header.Masthead h1, header.Masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.Masthead h1, header.Masthead .h1 {
    font-size: 3.5rem;
  }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }